// Font
$primary_font_family: "Poppins", sans-serif;
$secondary_font_family: "Ubuntu", sans-serif;

// Color
$link_color: white;
$white: #fff;
$link_hover_color: rgba(34, 33, 33, 0.966);
$dark_blue: darkblue;
$header_bg: #e1f3ff;
$white_thin: #efefef;
$white_dark: #ccc;
$white_1: #f8f9fa;
$white_2: #f0f0f0;
$white_3: #dcdcdc;
$bg_sky: #10defd;
$sky_2: #0de0fe;
$sky_3: #20c0f3;
$green: #09e5ab;
$dark_thin: #bdbdbd40;
$dark_light: #15558d;
$dark_heavy: #272b41;
$black: #000;
$gray: #757575;
$gray_2: #dedfe0;
$gray_3: #757575;
$gray_4: #333;
$yellow: #f4c150;

// Media Query
// $large: 1024px;
$medium: 900px;
$small: 600px;

// Text Decoration
$none: none;

// Flex
$flex: flex;
